.SEARCH {
    width: 25%;
    height: 15px;
}


/*HEADER*/

.nav {
    background-color: aqua;
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo {
    background-color: rgb(220, 155, 232);
    padding: 0;
    margin: 0;
}

.img {
    display: flex;
    width: 100%;
    position: relative;
    float: left;
    border-radius: 2px solid navy;
}

ul>img {
    width: 50%;
}