.wrapper {
    width: 90%;
    margin: 0 auto;
}


/*HEADER*/

.header {
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
}

.topinfo {
    border-bottom: 1px solid #232f3e;
    display: flex;
    justify-content: space-between;
}

.accountlist {
    display: flex;
}

.fa-icon {
    width: 20px;
}

img {
    vertical-align: middle;
    margin: 2px;
}